:root {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
}

body {
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
